* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  background-color: maroon;
  color: white;
  display: flex;
  height: 60px;
  justify-content: end;
  align-items: center;
}

.options {
  display: flex;
  margin-right: 20px;
}

.options div {
  margin: 20px;
  font-size: 20px;
}

.welcome-section {
  color: orange;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
