.project-section {
  background-color: #45567d;
  padding: 10rem 2rem;
}

.section-heading {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0px auto 6rem auto;
  border-bottom: 4px solid;
  max-width: 640px;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-view {
  background-color: #303841;
}

.project-image {
  height: 400px;
  width: 300px;
  margin: 40px;
}

.project-title {
}
